In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/cic-ids/cleaned_data1.csv')

In [ ]:
X = df[['Flow Duration','Tot Fwd Pkts']]
y = df['Flow Byts/s']

In [ ]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(X,y)

LinearRegression()

In [ ]:
print('Intercept: \n', regr.intercept_)

Intercept:
 266996.70471762336

In [ ]:
print('Coefficients: \n', regr.coef_)

Coefficients:
 [-5.32977934e-06 -2.50207300e+02]

In [ ]:
y_pred=regr.predict([[7500000	,15]])

In [ ]:
print("The Bandwidth in Mbps ",(y_pred*8 / 1e6))

The Bandwidth in Mbps  [2.10562897]

In [ ]:
df[['Flow Duration','Tot Fwd Pkts','Flow Byts/s']]

         Flow Duration  Tot Fwd Pkts  Flow Byts/s
0            112641719             3     0.000000
1            112641466             3     0.000000
2            112638623             3     0.000000
3              6453966            15   544.161528
4              8804066            14   380.733175
...                ...           ...          ...
3145720        3982183            14   796.799143
3145721        3802316            14   833.965404
3145722        4004239            14   796.655744
3145723        3998435            14   797.812144
3145724        3972651            14   797.955823

[3145725 rows x 3 columns]

In [ ]:
(-5.32977934e-06*7500000+-2.50207300e+02*15+266996.70471762336)/1000

263.2036218725733

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [ ]:
import math 
MSE= np.sqrt(np.subtract(y,y_pred)).mean()  
rsme = math.sqrt(MSE) 
print("Root Mean Square Error:\n")  
print(rsme)

Root Mean Square Error:

26.513877229884994

/usr/local/lib/python3.8/dist-packages/pandas/core/arraylike.py:364: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)